.date {
  --scale: 1;
  font-size: calc-size(14);
	color: #9b9b9b;
	font-family: Montserrat;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 3px;
	font-style: normal;

  @include media-breakpoint-down(sm) {
    --scale: 12/14;
  }
}