-
  var pagesList = {
    uiKit: {title: 'UI kit', url: 'ui-kit.html'},
    svgSymbols: {title: 'SVG-symbols', url: 'svg-symbols-demo-page.html'},
    index: {title: 'Главная', url: 'index.html'},
    about: {title: 'Обо Мне', url:'about.html'},
    project_single: {title: 'Проекты / Курс «Возможности онлайн-торговли для экспортёров»', url:'project-single.html'},    
    projects: {title: 'Проекты', url:'projects.html'}, 
     
    contacts: {title: 'Контаты', url:'contacts.html'},    
    nopage: {title: 'Нет такой страницы', url:'404.html'},

  };