-
  var pagesList = {
    uiKit: {title: 'UI kit', url: 'ui-kit.html'},
    svgSymbols: {title: 'SVG-symbols', url: 'svg-symbols-demo-page.html'},
    index: {title: 'Главная', url: 'index.html'},
    about: {title: 'О нас', url:'about.html'},

    contacts: {title: 'Контаты', url:'contacts.html'},    
    nopage: {title: 'Нет такой страницы', url:'404.html'},

  };